<!doctype html>
<html>
{% load staticfiles %}
<head>
<!-- website title -->
<title>Your Space - About</title>
<!-- favicon links -->
<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
<link rel="icon" type="image/ico" href="favicon.ico" />
<!-- meta tag, meta name -->
<meta name="keywords" content="Artist Sketch, Artist Sketch Drawing, Sketch Artist" />
<meta name="description" content="Artist Sketch, Artist Sketch Drawing, Sketch Artist" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- all stylesheets: main.css -->
<link href={% static "css/main.css" %} rel="stylesheet" type="text/css" media="screen" id="style" />
<!-- all scripts codes: JS -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src={% static "js/bootstrap.js" %}> </script>
<script type="text/javascript" src={% static "js/bx.js" %}> </script>
<script type="text/javascript" src={% static "js/jquery.mixitup.min.js" %}></script>
<script type="text/javascript" src={% static "js/custom.js" %}> </script>
<script type="text/javascript" src={% static "js/skill.js" %}></script>
<script type="text/javascript" src={% static "js/modernizr.js" %}></script>
<!-- Font  -->
<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="hs_top_wrap"> </div>
<!--Container-Start-->
<div class="container"> 
  <!-- Header-Part-Start -->
  <div class="row-fluid">
    <div class="span12">
      <div class="span3 logo"> <a href="index.html"> <img src={% static "./images/logo.png" %} alt="logo"/> </a> </div>
      <!-- Desktop-Main-Menu-Start  -->
      <div class="span7 hs_menu offset2">
        <ul class="hs_main_menu_bar">
          <li> <a href="index" class="active"> Home </a> </li>
          <li> <a href="about" class="active"> About </a> </li>
          <li> <a href="photos" class="active"> Photos </a> </li>
          <li> <a href="pricing" class="active"> Pricing </a> </li>
          <li> <a href="contact" class="active"> Contact </a> </li>
          <li> <a href="https://clients.mindbodyonline.com/ASP/adm/home.asp?studioid=35687" class="active"> Reserve </a> </li>
        </ul>
      </div>
      <!-- Desktop-Main-Menu-End  --> 
      <!-- Mobile Menu Start  -->
      <select class="visible-phone select_nav select cmb">
        <option value="index">Home</option>
        <option value="about"> About </option>
        <option value="photos"> Photos </option>
        <option value="pricing"> Pricing </option>
        <option value="contact"> Contact </option>
        <option value="https://clients.mindbodyonline.com/ASP/adm/home.asp?studioid=35687"> Reserve </option>
      </select>
      <!-- Mobile Menu End  --> 
  </div>
  </div>
  <!-- Header-Part-End --> 
  <!-- Breadcrumb-Start -->
  <div class="row-fluid">
    <div class="span12">
      <div class="span12 hs_left hs_heading_part"> <img src={% static "./images/seprator.png" %} alt="seprator"/> </div>
      <div class="span12 hs_left">
        <div class="span8 hs_inner_heading">
          <h1> You are intelligent and creative </h1>
        </div>
        <div class="span4 hs_breadcrumb_part hs_left">
          <ul class="hs_breadcrumb">
            <li> <a href="index"> home </a> </li>
            <li> <a href="about"> about </a> </li>
          </ul>
        </div>
      </div>
      <div class="span12 hs_left hs_heading_part"> <img src={% static "./images/seprator.png" %} alt="seprator"/> </div>
    </div>
  </div>
  <!-- Breadcrumb-End --> 
  <!-- About-Info-Start -->
  <div class="row-fluid">
    <div class="span12 hs_page_part hs_left">
      <div class="span5 hs_big_thumb">
        <div class="span12 hs_page_big_thumb"> <img src={% static "http://placehold.it/380x380" %} alt="about"/> </div>
      </div>
      <div class="span7">
        <h1 class="hs_page_heading"> Your Creative Mentor... </h1>
        <p>Fusce sodales ullamcorper felis. In hac habitasse platea disit. Maecenas iaculis sodales diam, eget laoreet nunc placerat ut. Aenean et dapibus ipsum, sed porta velit. Nulla facilisis, auris eu lacinia bibendum, tortor massa eleifend ipsum, a curs nibh nunc et arcu. Vivamus erat odio, lacinia id lectus a, tristiqcinia risus. Integer a vestibulum ligula. Vestibulum placerat variuse
          lit Pellentesque faucibus nisl ut urna ultrices, sed hendrerit tus sodales. <br/>
          <br/>
          Fusce sit amet est sit amet urna volutpat fermentum. Aliquam eu nisi lobortis, adipiscing risus quis, auctor. </p>
      </div>
    </div>
  </div>
  <!-- About-Info-End --> 
  <!-- Creative-title-Start -->
  <div class="row-fluid">
    <div class="span12">
      <div class="span1 hs_creative_thumb"> <img src="./images/creative_icon.png" alt="Creative"/> </div>
      <div class="span11">
        <div class="span11">
          <h1> Artist. is Creative Styled PSD Template. </h1>
        </div>
        <div class="span11 hs_left hs_creative_info"> Nulla molestie laoreet suscipit. Integer eget cursus quam. Maecenas sit amet pulvinar risus. Vivamus et sagittis odio. Aliquam vel arcu ac eros elementum lobortis. </div>
      </div>
    </div>
  </div>
  <!-- Creative-title-End --> 
  <!--Our-Team-Start -->
  <div class="row-fluid">
    <div class="span12 hs_blog_related">
      <h1 class="lined"> Meet Our Team </h1>
    </div>
    <div class="span12 hs_left"> 
      <!--Team-Post-Start -->
      <div class="span4 hs_post_related"> <a href="#">
        <div class="span12 hs_port_thumb">
          <div class="span12 hs_latest"> <img src="http://placehold.it/300x300" alt="about_team"/> </div>
        </div>
        </a>
        <div class="span12 hs_team_title text-center"> <a href="#"> Merry Doe </a> </div>
        <div class="span12 text-center">Company CEO, Marketing </div>
        <div class="span12 hs_team_info text-center">Vestibulum aliquam non ligula sed scelerisque. Quisque ut imperdiet risus. Phasellus vel leo justo. Etiam luctus neque vitae tempor tempus </div>
        <div class="span12 text-center">
          <ul class="hs_team">
            <li> <a href="#"> <img src="./images/facebook.png" alt="facebook"/> </a> </li>
            <li> <a href="#"> <img src="./images/twitter.png" alt="twitter"/> </a> </li>
            <li> <a href="#"> <img src="./images/linkedin.png" alt="linkedin"/> </a> </li>
            <li> <a href="#"> <img src="./images/flickr.png" alt="flickr"/> </a> </li>
            <li> <a href="#"> <img src="./images/youtube.png" alt="youtube"/> </a> </li>
          </ul>
        </div>
      </div>
      <!--Team-Post-End --> 
      <!--Team-Post-Start -->
      <div class="span4 hs_post_related"> <a href="#">
        <div class="span12 hs_port_thumb">
          <div class="span12 hs_latest"> <img src="http://placehold.it/300x300" alt="about_team"/> </div>
        </div>
        </a>
        <div class="span12 hs_team_title text-center"> <a href="#"> John Doe </a> </div>
        <div class="span12 text-center"> Senior Designer </div>
        <div class="span12 hs_team_info text-center">Vestibulum aliquam non ligula sed scelerisque. Quisque ut imperdiet risus. Phasellus vel leo justo. Etiam luctus neque vitae tempor tempus </div>
        <div class="span12 text-center">
          <ul class="hs_team">
            <li> <a href="#"> <img src="./images/facebook.png" alt="facebook"/> </a> </li>
            <li> <a href="#"> <img src="./images/twitter.png" alt="twitter"/> </a> </li>
            <li> <a href="#"> <img src="./images/linkedin.png" alt="linkedin"/> </a> </li>
            <li> <a href="#"> <img src="./images/flickr.png" alt="flickr"/> </a> </li>
            <li> <a href="#"> <img src="./images/youtube.png" alt="youtube"/> </a> </li>
          </ul>
        </div>
      </div>
      <!--Team-Post-End --> 
      <!--Team-Post-Start -->
      <div class="span4 hs_post_related"> <a href="#">
        <div class="span12 hs_port_thumb">
          <div class="span12 hs_latest"> <img src="http://placehold.it/300x300" alt="about_team"/> </div>
        </div>
        </a>
        <div class="span12 hs_team_title text-center"> <a href="#"> Ishika Doe </a> </div>
        <div class="span12 text-center">Senior Devloper </div>
        <div class="span12 hs_team_info text-center">Vestibulum aliquam non ligula sed scelerisque. Quisque ut imperdiet risus. Phasellus vel leo justo. Etiam luctus neque vitae tempor tempus </div>
        <div class="span12 text-center">
          <ul class="hs_team">
            <li> <a href=""> <img src="./images/facebook.png" alt="facebook"/> </a> </li>
            <li> <a href=""> <img src="./images/twitter.png" alt="twitter"/> </a> </li>
            <li> <a href=""> <img src="./images/linkedin.png" alt="linkedin"/> </a> </li>
            <li> <a href=""> <img src="./images/flickr.png" alt="flickr"/> </a> </li>
            <li> <a href=""> <img src="./images/youtube.png" alt="youtube"/> </a> </li>
          </ul>
        </div>
      </div>
      <!--Team-Post-End --> 
    </div>
  </div>
  <!--Our-Team-End --> 
  <!--Our-Skills-Start -->
  <div class="row-fluid">
    <div class="span12 hs_blog_related">
      <h1 class="lined"> Our Skills </h1>
    </div>
    <div class="span12 hs_skill_wrap hs_left">
      <div class="span3 hs_media_skill">
        <div class="span12">
          <div class="prog-contain">
            <div class="skill_1"></div>
          </div>
        </div>
        <div class="span12 text-center hs_skill_title"> <a href="#"> branding </a> </div>
      </div>
      <div class="span3 hs_media_skill">
        <div class="span12">
          <div class="prog-contain">
            <div class="skill_2"></div>
          </div>
        </div>
        <div class="span12 text-center hs_skill_title"> <a href="#"> wordpress </a> </div>
      </div>
      <div class="span3 hs_media_skill">
        <div class="span12">
          <div class="prog-contain">
            <div class="skill_3"></div>
          </div>
        </div>
        <div class="span12 text-center hs_skill_title"> <a href="#"> html </a> </div>
      </div>
      <div class="span3 hs_media_skill">
        <div class="span12">
          <div class="prog-contain">
            <div class="skill_4"></div>
          </div>
        </div>
        <div class="span12 text-center hs_skill_title"> <a href="#"> photoshop </a> </div>
      </div>
    </div>
  </div>
  <!--Our-Skills-End --> 
  <!-- Blog & Client-Stay-Start -->
  <div class="row-fluid">
    <div class="span12 hs_top_fifty"> 
      <!-- Blog-Start -->
      <div class="span6">
        <div class="span12 hs_bottom_fourty hs_left">
          <h1 class="lined"> Just Bloging </h1>
        </div>
        <div class="span12 hs_post_blog hs_left"> <a href="blog_post.html">
          <div class="span4 hs_blog_thumb">
            <div class="span12 hs_bloging"> <img src="http://placehold.it/150x150" alt="blog_thumb"/> </div>
          </div>
          </a>
          <div class="span8">
            <h2> <a href="blog_post.html"> Etiam nisl est, arius eget pretium. </a> </h2>
          </div>
          <div class="span8 hs_meta_tag">
            <h3> <a href="#"> 07  December 2013 </a> </h3>
          </div>
          <div class="span8"> Etiam nisl est, varius eget pretium et, consectetur a arcu. </div>
        </div>
        <div class="span12 hs_post_blog hs_left"> <a href="blog_post.html">
          <div class="span4 hs_blog_thumb">
            <div class="span12 hs_bloging"> <img src="http://placehold.it/150x150" alt="blog_thumb"/> </div>
          </div>
          </a>
          <div class="span8">
            <h2> <a href="blog_post.html"> Praesent faucibuse lobortis Doneccur. </a> </h2>
          </div>
          <div class="span8 hs_meta_tag">
            <h3> <a href="#"> 07  December 2013 </a> </h3>
          </div>
          <div class="span8"> Etiam nisl est, varius eget pretium et, consectetur a arcu. </div>
        </div>
      </div>
      
      <!-- Blog-End --> 
      <!-- Client-say-Start -->
      <div class="span6">
        <div class="span12 hs_bottom_fourty hs_left">
          <h1 class="lined"> Clients Say's </h1>
        </div>
        <div class="span12 hs_testimonial hs_left"> 
          <!-- Slider start -->
          <div class="span12 hs_slider_testo">
            <ul class="bxslider">
              <li>
                <div class="span12">
                  <div class="span2 offset1 hs_comma_first"> </div>
                  <div class="span9 hs_testimonial_info offset1"> <a href="#"> Nullam fringilla mi facilisis tortor semper, vel volutpat dui rutrum. In hac habitasse platea dictumst. In leo metus </a> </div>
                  <div class="span8 hs_testimonial_title offset1"> Jhon Doe - Themeforest Author </div>
                  <div class="span2 hs_comma_second"> </div>
                </div>
              </li>
              <li>
                <div class="span12">
                  <div class="span2 offset1 hs_comma_first"> </div>
                  <div class="span9 hs_testimonial_info offset1"> <a href="#"> Nullam fringilla mi facilisis tortor semper, vel volutpat dui rutrum. </a> </div>
                  <div class="span8 hs_testimonial_title offset1"> Jhon - Themeforest </div>
                  <div class="span2 hs_comma_second"> </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- Slider End --> 
        </div>
      </div>
      <!-- Client-say-End --> 
    </div>
  </div>
  <!-- Blog & Client-Stay-End --> 
  <!-- Footer-Start -->
  <div class="row-fluid">
    <div class="span12">
      <div class="span12">
        <h1 class="lined"> Find Us </h1>
      </div>
      <div class="span12 hs_left hs_footer_tagline"> there's always something new and innovative on our social wall... 
        so let's join us </div>
      <div class="span12 hs_social_area">
        <ul class="hs_footer_menu">
          <li> <a href="#" class="hs_footer_facebook"> </a> </li>
          <li> <a href="#" class="hs_footer_twitter"> </a> </li>
          <li> <a href="#" class="hs_footer_linkedin"> </a> </li>
          <li> <a href="#" class="hs_footer_flickr"> </a> </li>
          <li> <a href="#" class="hs_footer_youtube"> </a> </li>
          <li> <a href="#" class="hs_footer_dribbble"> </a> </li>
          <li> <a href="#" class="hs_footer_delicious"> </a> </li>
        </ul>
      </div>
      <div class="span12 text-center"> <img src="./images/footer_shape.png" alt="shape"/> </div>
      <div class="span6 offset3 hs_reserved text-center"> Copyright © <a href="http://himanshusofttech.com/"> Artist HTML Template 2014. </a> All rights reserved
        Template by Hsoft. </div>
    </div>
  </div>
  <!-- Footer-End --> 
</div>
<!--Container-End-->
<div id="hs_bottom_wrap"> </div>
</body>
</html>