<!doctype html>
<html>
{% load staticfiles %}
<head>  
<!-- website title -->
<title>Your | Space</title>
<!-- favicon links -->
<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
<link rel="icon" type="image/ico" href="favicon.ico" />
<!-- meta tag, meta name -->
<meta name="keywords" content="Artist Sketch, Artist Sketch Drawing, Sketch Artist" />
<meta name="description" content="Artist Sketch, Artist Sketch Drawing, Sketch Artist" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- all stylesheets: main.css -->
<link href={% static "css/main.css" %} rel="stylesheet" type="text/css" media="screen" id="style" />
<!-- all scripts codes: JS -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src={% static "js/bootstrap.js" %}> </script>
<script type="text/javascript" src={% static "js/bx.js" %}> </script>
<script type="text/javascript" src={% static "js/jquery.mixitup.min.js" %}></script>
<script type="text/javascript" src={% static "js/custom.js" %}> </script>
<!-- Font  -->
<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Preloader Start -->
<div id="preloader">
  <div id="status">Your Space, Your Life </div>
</div>
<!-- Preloader End -->
<div id="hs_top_wrap"> </div>
<!--Container-Start-->
<div class="container"> 
  <!-- Header-Part-Start -->
  <div class="row-fluid">
    <div class="span12">
      <div class="span3 logo"> <a href="index.html"> <img src={% static "./images/logo.png" %} alt="logo"/> </a> </div>
      <!-- Desktop-Main-Menu-Start  -->
      <div class="span7 hs_menu offset2">
        <ul class="hs_main_menu_bar">
          <li> <a href="index" class="active"> Home </a> </li>
          <li> <a href="about" class="active"> About </a> </li>
          <li> <a href="photos" class="active"> Photos </a> </li>
          <li> <a href="pricing" class="active"> Pricing </a> </li>
          <li> <a href="contact" class="active"> Contact </a> </li>
          <li> <a href="reserve" class="active"> Reserve </a> </li>
        </ul>
      </div>
      <!-- Desktop-Main-Menu-End  --> 
      <!-- Mobile Menu Start  -->
      <select class="visible-phone select_nav select cmb">
        <option value="index">Home</option>
        <option value="about"> About </option>
        <option value="photos"> Photos </option>
        <option value="pricing"> Pricing </option>
        <option value="contact"> Contact </option>
        <option value="reserve"> Reserve </option>
      </select>
      <!-- Mobile Menu End  --> 
    </div>
  </div>
  <!-- Header-Part-End --> 
  <!-- Main-Slider-Start -->
  <div class="row-fluid">
    <div class="span12 hs_main_slider"> 
      <!-- Slider Start -->
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="hs_slider_mask">
          <div class="carousel-inner">
            <div class="active item"> <img src={% static "./img/backdrop.jpg" %} class="slider_mask" alt="Slider"/></div>
            <div class="item"><img src={% static "./img/backdrop.jpg" %} class="slider_mask" alt="Slider"/></div>
            <div class="item"><img src={% static "./img/backdrop.jpg" %} class="slider_mask" alt="Slider"/></div>
          </div>
        </div>
        <!-- Carousel nav --> 
        <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a> <a class="carousel-control right" href="#myCarousel" data-slide="next"></a> </div>
      <!-- Slider End --> 
    </div>
  </div>
  <!-- Main-Slider-End --> 
  <!-- Creative-title-Start -->
  <div class="row-fluid">
    <div class="span12 hs_creative">
      <div class="span1 hs_creative_thumb"> <img src={% static "./images/creative_icon.png" %} alt="Creative"/> </div>
      <div class="span11">
        <div class="span11">
          <h1> We are the new working environment:</h1>
        </div>
        <div class="span11 hs_left hs_creative_info"> Work in solace or collaborate with others.  We provide all our diverse clients with the basics to start and support a health business. </div>
      </div>
    </div>
  </div>
  <!-- Creative-title-End --> 
  <!-- Our Services-Start -->
  <div class="row-fluid">
    <div class="span12">
      <div class="span12 hs_top_sixty">
        <h1 class="lined">Our solution supports: </h1>
      </div>
      <div class="span12 hs_left hs_top_sixty">
        <div class="span3 hs_post">
          <div class="span12 hs_service_thumb text-center"> <img src={% static "./images/computer_icon.png" %} alt="computer_icon"/> </div>
          <div class="span12 hs_services_title text-center"> <a href="services.html"> Web based start ups </a> </div>
        </div>
        <div class="span3 hs_post">
          <div class="span12 hs_service_thumb text-center"> <img src={% static "./images/mob_icon.png" %} alt="mobole_icon"/> </div>
          <div class="span12 hs_services_title text-center"> <a href="services.html"> Small businesses </a> </div>
        </div>
        <div class="span3 hs_post">
          <div class="span12 hs_service_thumb text-center"> <img src={% static "./images/paint_icon.png" %} alt="paint_icon"/> </div>
          <div class="span12 hs_services_title text-center"> <a href="services.html"> Creative entrepeneurs </a> </div>
        </div>
        <div class="span3 hs_post">
          <div class="span12 hs_service_thumb text-center"> <img src={% static "./images/globe_icon.png" %} alt="globe_icon"/> </div>
          <div class="span12 hs_services_title text-center"> <a href="services.html"> Executive students </a> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Our Services-End --> 
  <!-- See-Our-Latest-Works Start -->
  <div class="row-fluid">
    <div class="span12">
      <div class="span12 hs_left hs_top_fifty">
        <h1 class="lined"> Where ideas meet execution </h1>
      </div>
      <div class="span4 hs_main_latest"> <a href="single_portfolio.html">
        <div class="span12 hs_port_thumb">
          <div class="span12 hs_latest"> <img src={% static "./img/groupshot1.jpg" %} alt="latest_Portfolio"/> </div>
        </div>
        </a>
        <div class="span12 text-center"><a href="single_portfolio.html">Artist. PSD Template Icons Designs, Graphic Designs </a> </div>
      </div>
      <div class="span4 hs_main_latest"> <a href="single_portfolio.html">
        <div class="span12 hs_port_thumb">
          <div class="span12 hs_latest"> <img src={% static "./img/groupshot2.jpg" %} alt="latest_Portfolio"/> </div>
        </div>
        </a>
        <div class="span12 text-center"><a href="single_portfolio.html">Artist. PSD Template Poster Designs, Graphic Designs </a> </div>
      </div>
      <div class="span4 hs_main_latest"> <a href="single_portfolio.html">
        <div class="span12 hs_port_thumb">
          <div class="span12 hs_latest"> <img src={% static "./img/groupshot1.jpg" %} alt="latest_Portfolio"/> </div>
        </div>
        </a>
        <div class="span12 text-center"><a href="single_portfolio.html">Artist. PSD Template Web Designs, Illustration </a> </div>
      </div>
      <div class="span6 hs_see_more offset5"> <a href="single_portfolio.html" class="hs_more_btn"> See More </a> </div>
    </div>
  </div>
  <!-- See-Our-Latest-Works End --> 
  <!-- Blog & Client-Stay-Start -->
  <div class="row-fluid">
    <div class="span12 hs_top_fifty"> 
      <!-- Blog-Start -->
      <div class="span6">
        <div class="span12 hs_bottom_fourty hs_left">
          <h1 class="lined"> Blaker's Blog </h1>
        </div>
        <div class="span12 hs_post_blog hs_left"> <a href="blog_post.html">
          <div class="span4 hs_blog_thumb">
            <div class="span12 hs_bloging"> <img src={% static "./img/groupshot1.jpg" %} alt="blog_thumb"/> </div>
          </div>
          </a>
          <div class="span8">
            <h2> <a href="blog_post.html"> Coworking spaces help you work smarter, not longer </a> </h2>
          </div>
          <div class="span8 hs_meta_tag">
            <h3> <a href="#"> 11 April 2014 </a> </h3>
          </div>
          <div class="span8"> Working from home while launching a new product can be challenging... </div>
        </div>
        <div class="span12 hs_post_blog hs_left"> <a href="blog_post.html">
          <div class="span4 hs_blog_thumb">
            <div class="span12 hs_bloging"> <img src={% static "./img/groupshot2.jpg" %} alt="blog_thumb"/> </div>
          </div>
          </a>
          <div class="span8">
            <h2> <a href="blog_post.html"> Collaboration is important, even when just starting </a> </h2>
          </div>
          <div class="span8 hs_meta_tag">
            <h3> <a href="#"> 14 April 2014 </a> </h3>
          </div>
          <div class="span8"> This is some text that starts the beginning of the blog. </div>
        </div>
      </div>
      <!-- Blog-End --> 
      <!-- Client-say-Start -->
      <div class="span6">
        <div class="span12 hs_bottom_fourty hs_left">
          <h1 class="lined"> Find Us </h1>
        </div>
        <iframe width="450" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=146+Shoppers+Lane,+Pasadena,+CA,+United+States&key=AIzaSyC1kKdPPp82sevmVE1XMACR4h2KzFP0kyk"></iframe>
      </div>
      <!-- Client-say-End --> 
    </div>
  </div>
  <!-- Blog & Client-Stay-End --> 
  <!-- Our-Clients-Start -->
  <div class="row-fluid">
    <div class="span12">
      <div class="span12 hs_heading">
        <h1> Our Clients </h1>
      </div>
      <div class="span12 hs_left  hs_slider_base"> 
        <!-- Slider Start -->
        <div class="span12 hs_slider_client">
          <ul class="bxslider">
            <li>
              <div class="hs_client_logo"> <a href="#"> <img src={% static "./img/founder2.jpg" %}/> </a> </div>
              <div class="hs_client_logo"> <a href="#"> <img src={% static "./img/founder2.jpeg" %} /> </a> </div>
              <div class="hs_client_logo"> <a href="#"> <img src={% static "./img/founder3.gif" %} /> </a> </div>
              <div class="hs_client_logo"> <a href="#"> <img src={% static "./img/founder4.png" %} /> </a> </div>
            </li>
            <li>
              <div class="hs_client_logo"> <a href="#"> <img src={% static "./img/founder2.jpg" %}/> </a> </div>
              <div class="hs_client_logo"> <a href="#"> <img src={% static "./img/founder2.jpeg" %} /> </a> </div>
              <div class="hs_client_logo"> <a href="#"> <img src={% static "./img/founder3.gif" %} /> </a> </div>
              <div class="hs_client_logo"> <a href="#"> <img src={% static "./img/founder4.png" %} /> </a> </div>
            </li>
          </ul>
        </div>
        <!-- Slider End --> 
      </div>
    </div>
  </div>
  <!-- Our-Clients-Start --> 
  <!-- Footer-Start -->
  <div class="row-fluid">
    <div class="span12 hs_top_fifty">
      <div class="span12">
        <h1 class="lined"> Connect with Us </h1>
      </div>
      <div class="span12 hs_left hs_footer_tagline"> there's always something new and innovative on our social wall... 
        so let's join us </div>
      <div class="span12 hs_social_area">
        <ul class="hs_footer_menu">
          <li> <a href="#" class="hs_footer_facebook"> </a> </li>
          <li> <a href="#" class="hs_footer_twitter"> </a> </li>
          <li> <a href="#" class="hs_footer_linkedin"> </a> </li>
          <li> <a href="#" class="hs_footer_flickr"> </a> </li>
          <li> <a href="#" class="hs_footer_youtube"> </a> </li>
          <li> <a href="#" class="hs_footer_dribbble"> </a> </li>
          <li> <a href="#" class="hs_footer_delicious"> </a> </li>
        </ul>
      </div>
      <div class="span12 text-center"> <img src={% static "./images/footer_shape.png" %} alt="shape"/> </div>
      <div class="span6 offset3 hs_reserved text-center"> Copyright © <a href="http://yourspace.herokuapp.com/"> Your Space 2014. </a> All rights reserved</div>
    </div>
  </div>
  <!-- Footer-End --> 
</div>

<!--Container-End-->
<div id="hs_bottom_wrap"> </div>
</body>
</html>